

<div class="form_products">
  <h1>Crear nuevo producto</h1>
  <%= simple_form_for @product, html: {multipart: true}  do |f| %>
    <%= f.input :name, label: 'Nombre' %>
    <%= f.input :price, label: 'Precio' %>
    <%= f.input :description, label: 'Descripcion', as: :text %>
    <%= f.input :characteristic, label: 'Caracteristica' %>
    <%= f.input :mark, label: 'Marca' %>
    <%= f.input :kind, label: 'Tipo' %>
    <%= f.input :discount, label: 'Descuento' %>
    <%= f.input :reference, label: 'Referencia' %>
    <%= f.file_field :photos, multiple: true%>
    <%= f.file_field :photos, multiple: true %>
    <%= f.file_field :photos, multiple: true %>
    <br><br>
    <div class="d-grid gap-2">
      <%= f.button :submit, "Crear producto", :class => "btn btn-primary"%>
    </div>

  <% end %>
</div>
