

<div class="section_show">
    <div class="div_fotos">
      <div class="div-foto_pequeña">
        <%= image_tag(@product.photos_urls[0], :class => 'imagen_producto_show') if @product.photos? %>
      </div>
      <div class="div-foto_pequeña">
        <%= image_tag(@product.photos_urls[1], :class => 'imagen_producto_show') if @product.photos? %>
      </div>
      <div class="div-foto_pequeña">
        <%= image_tag(@product.photos_urls[2], :class => 'imagen_producto_show') if @product.photos? %>
      </div>

    </div>
    <div class="div_foto">
      <%= image_tag(@product.photos_urls[0], :class => 'imagen_producto_show') if @product.photos? %>
    </div>
  </div>
  <div class="div_show">
    <h3><%= @product.name %></h3>
    <h3>$ <%= @product.price %></h3>
    <h3>Marca: <%= @product.mark %></h3>

    <input type="button" name="button_comprar" value="Comprar">

    <%= button_to "Agregar al carrito" %>

  </div>
