

<div class="form_pqr">
  <h1>Crear nuevo Pqr</h1>
  <%= simple_form_for @pqr do |f| %>
    <%= f.input :kind, label: 'Tipo' %>
    <%= f.input :description, label: 'Descripcion', as: :text %>
    <%= f.input :state, label: 'Estado' %>
    <%= f.input :reference, label: 'Referencia' %>
    <div class="boton_enviar">
      <%= f.button :submit, "Actualizar PQR"%>
    </div>

  <% end %>
</div>
