
<h1>Proveedores</h1>

<table class="table table-dark table-striped">
  <tr>
    <thead class="table-dark">
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Tipo</th>
      <th scope="col">Sexo</th>
      <th scope="col">Correo electronico</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Foto</th>
      <th scope="col">Accion</th>
    </thead>
  </tr>

<% @suppliers.each do |supplier| %>
<tr>
  <td><%= supplier.name %></td>
  <td><%= supplier.last_name %></td>
  <td><%= supplier.kind %></td>
  <td><%= supplier.sex %></td>
  <td><%= supplier.email %></td>
  <td><%= supplier.telephone %></td>
  <td><%= supplier.address %></td>
  <td> Ver foto<%=  %></td>
  <td>
    <%= link_to "Editar", edit_supplier_path(supplier)%>
    <%= link_to "Eliminar", supplier, method: :delete, data: {confirm: "Desea eliminar este proveedor?"} %>
  </td>

</tr>
<% end %>
</table>

<%= link_to "Crear nuevo proveedor", new_supplier_path %>
