<h1>Nuevo Proveedor</h1>


<div class="form_suppliers">
  <%= simple_form_for @supplier do |f| %>
    <%= f.input :name, label: "Nombre" %>
    <%= f.input :email, label: "Correo electronico" %>
    <%= f.input :telephone, label: "Telefono" %>
    <%= f.input :address, label: "Direccion"%>
    <div class="boton_enviar">
      <%= f.button :submit, "Crear Proveedor" %>
    </div>

  <% end %>
</div>
