

<div class="form_products">
  <h1>Crear nuevo producto</h1>
  <%= simple_form_for @product do |f| %>
    <%= f.input :name, label: 'Nombre' %>
    <%= f.input :price, label: 'Precio' %>
    <%= f.input :description, label: 'Descripcion', as: :text %>
    <%= f.input :characteristic, label: 'Caracteristica' %>
    <%= f.input :mark, label: 'Marca' %>
    <%= f.input :kind, label: 'Tipo' %>
    <%= f.input :discount, label: 'Descuento' %>
    <%= f.input :reference, label: 'Referencia' %>
    <%= f.input :photo, label: "Foto"%>
    <div class="boton_enviar">
      <%= f.button :submit, "Actualizar producto"%>
    </div>

  <% end %>
</div>
