<!-- <form class="" action="index.html" method="post">
  <div class="col-md-4">
    <label for="validationTooltip01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
    <div class="valid-tooltip">

    </div>
  </div>
</form> -->

<div class="form_products">
  <h1>Crear nuevo producto</h1>
  <%= simple_form_for @product do |f| %>
    <%= f.input :name, label: 'Nombre' %>
    <%= f.input :price, label: 'Precio' %>
    <%= f.input :description, label: 'Descripcion', as: :text %>
    <%= f.input :characteristic, label: 'Caracteristica' %>
    <%= f.input :mark, label: 'Marca' %>
    <%= f.input :kind, label: 'Tipo' %>
    <%= f.input :discount, label: 'Descuento' %>
    <%= f.input :reference, label: 'Referencia' %>
    <%= f.input :photos, label: 'Fotos' %>
    <div class="boton_enviar">
      <%= f.button :submit, "Crear producto"%>
    </div>

  <% end %>
</div>
