


<h1>Nuevo PQR</h1>


<div class="form_suppliers">
  <%= simple_form_for @pqr do |f| %>
    <%= f.association :kind, label_method: :kind%>
    <%= f.input :description, label: "Descripcion" %>
    <%= f.input :state, label: "Estado" %>
    <%= f.input :reference, label: "Referencia" %>
    <%= f.input :date, label: "Fecha" %><br>
    <div class="d-grid gap-2">
      <%= f.button :submit, "Crear PQR", :class => "btn btn-primary"%>
    </div>

  <% end %>
</div>
