


<h1>Nuevo PQR</h1>


<div class="form_suppliers">
  <%= simple_form_for @pqr do |f| %>
    <%= f.input :kind_id, label: 'Tipo'%>
    <%= f.input :description, label: "Descripcion" %>
    <%= f.input :state, label: "Estado" %>
    <%= f.input :reference, label: "Referencia" %>
    <%= f.input :date, label: "Fecha" %>
    <div class="boton_enviar">
      <%= f.button :submit, "Crear PQR", :class => 'texto_boton'%>
    </div>

  <% end %>
</div>
